<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>sv_biblioteca</servlet-name>
        <servlet-class>ProyectoServets.SV_bliblioteca</servlet-class>
    </servlet>
    <servlet>
        <description>ingreso de usuario y contraseña de cliente</description>
        <servlet-name>ingreso_usuario</servlet-name>
        <servlet-class>ProyectoServets.SV_Ingreso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sv_biblioteca</servlet-name>
        <url-pattern>/biblioteca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingreso_usuario</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
